/*
 ----- Color scheme ------

     yellowgreen - 
     grey - #c5c5c5
     black - #000000 

*/
/* body{
    margin: 0;
} */
header{
    background-color: #666;
    background-image: url(/img/header-bg-image.jpg);
    color: yellowgreen;
    padding: 5rem;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-blend-mode: multiply;
    transition: 500ms background-position ease-out;
    margin: 0;
}
.btns{
    display: block;
    text-align: center;
}
.btns button{
    margin-right: 2rem; 
}
header h1{
    font-family: 'roboto', 'serif';
    text-align: center;
}
nav{
    color: #4a8de5;
    background-color:darkgreen;
    margin-top: -1rem;
}
nav ul{
    list-style: none;
    color: yellowgreen;
    line-height: 3rem;
}
button{
    margin-right: 1rem;
    border: none;
}
button:hover{
    color: greenyellow;
}
footer{
    background-color: gainsboro;
    padding: 2rem;
}
footer i{
    margin-right: 1rem;
    color: yellowgreen;
}
img{
    border-radius: 50%;
}
#dynamic-content h2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: yellowgreen;
    text-decoration: underline;
    text-align: center;
}
#dynamic-content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* Mobile Version */
@media (min-width: 30rem) {
   body{
       line-height: 1.4rem;
   }
   main{
       margin: 2rem;
   }
   button{
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
   }
   #dynamic-content p{
      margin: 2rems
   }
};

 /* Desktop Version */
@media (min-width: 60rem){
   
    body{
        line-height: 1.6rem;
        margin: 0;
    }
    main{
        font-size: 1rem;
        margin: 6rem;
    }
    nav ul{
        text-align: center;
    }
    nav ul li{
        display: inline;
        padding: 0.5rem 1rem;
        margin-right: 5rem;
    }
    .btns{
        margin-top: -1rem;
    }
    #dynamic-content .content{
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

}

